DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

DATABRICKS_HOST=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=

GROQ_API_KEY=

# PostgreSQL
DB_NAME=autoinvest_db
DB_USER=autoinvest_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
